@import url('https://fonts.googleapis.com/css2?family=Architects+Daughter&display=swap');


.App {
    text-align: center;
    }

html {
    height: 100%;
    }

a {
    font-family: 'Architects Daughter';
    color: whitesmoke;
    font-size: 1.5em;
    font-weight: bolder;
    text-decoration: none;
    padding: 15px;
    }

.begin {
    font-family: 'Architects Daughter';
    font-weight: bold;
    background-color: rgb(174, 14, 14);
    border-radius: 50%;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 30px;
    padding-bottom: 27px;
    border-color: darkred;
}

.begin:hover {
    color: whitesmoke;
}

body {
    background-image: url("./images/spacepic.jpg");
    background-size: cover;
    position: relative;
    min-height: 100%;
    margin: 0;
    display: flex;
    justify-content: center;
    font-family: 'Architects Daughter';
    color: whitesmoke;
    text-shadow: -1px -1px 0 #444, 1px -1px 0 #444, -1px 1px 0 #444, 1px 1px 0 #444;
    }

.bottom {
    display: flex;
    justify-content: space-between;
    
    margin-bottom: 0px;

    position: absolute;
    height: 50px;
    left: 40px; right: 40px; bottom: 150px;
    z-index: -1;
}

.bottom h2 {
    margin-bottom: 0px;
}

.createUserForm {
    display: flex;
    flex-direction: column;
}

.createUserForm input {
    align-self: center;
    max-width: 200px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.createUserForm label {
    align-self: center;
}

.currentpage {
    font-size: 1.75em;
    color: olivedrab;
}

.footer {
    position: absolute;
    height: 41px;
    left: 0 ; right: 0; bottom: 0;
}

header {
    margin: 50px;
}

h1 {
    font-family: 'Architects Daughter';
    color: whitesmoke;
    font-size: 2.5em;
    margin: 50px;
    padding-top: 30px;
}

#input {
    border-radius: 5px;
}

.keeptime {
    display: flex;
    justify-content: flex-end;
}

.loginform {
    display: flex;
    flex-direction: column;
}

.loginform input {
    align-self: center;
    max-width: 200px;
    margin-top: 10px;
    margin-bottom: 10px;
}
.loginform label {
    align-self: center;
}

#login {
    align-self: center;
    margin-top: 10px;
    border-radius: 5px;
    padding: 5px;
    background-color: #c75b11;
    font-weight: bolder;
}

#login:hover {
    color: whitesmoke;
    font-family: 'Architects Daughter';
}

.middle {
    padding: 75px;
}

.prompt {
    padding: 25px;
}

.question {
    font-size: 2em;
}

#submit {
    align-self: center;
    margin-top: 10px;
    border-radius: 5px;
    padding: 5px;
    background-color: #c75b11;
    font-weight: bolder;
}

#submit:hover {
    color: whitesmoke;
    font-family: 'Architects Daughter';
}

#tables {
    height: 800px;
}

#trademark {
    text-align: center;
    font-size: .75em;
}

.challengeForm {
    display: flex;
    flex-direction: column;
}

.challengeForm input {
    align-self: center;
    max-width: 300px;
    margin-top: 10px;
    margin-bottom: 10px;
}
.challengeForm label {
    align-self: center;
    margin-top: 30px;
    margin-bottom: 30px;
    font-size: 1.5em;
}

#challengeForm {
    align-self: center;
    margin-top: 20px;
    border-radius: 5px;
    padding-right: 10px;
    padding-left: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    background-color: #c75b11;
    font-weight: bolder;
}

#challengeForm:hover {
    color: whitesmoke;
    font-family: 'Architects Daughter';
}

.outchallenge p {
    font-size: 1.5em;
}

.inchallenge button {
    align-self: center;
    margin-top: 20px;
    border-radius: 5px;
    padding-right: 10px;
    padding-left: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    background-color: #c75b11;
    font-weight: bolder;
}

.inchallenge h2 {
    margin-top: 100px;
}

#accept {
    background-color: olivedrab;
    border-color: rgb(79,104,29);
}

#accept:hover {
    color: whitesmoke;
    font-family: 'Architects Daughter';
}

#decline {
    background-color: #f68a70;
    border-color: #f57758;

}

#decline:hover {
    color: whitesmoke;
    font-family: 'Architects Daughter';
}

.respond {
    display: flex;
    justify-content: space-around;
}